<footer id="rodape">
  <div class="container">

      <div class="row">

        <div class="col-md-2">
          <span >Pastoral do Crisma</span>
        </div>

        <div class="col-md-2">
          <h4>Menu</h4>
          <ul class="nav">
            <li><a href="#inicioPage">Inicio</a></li>
            <li><a href="#sobreParoquia">Paroquia</a></li>
            <li><a href="#sobreEventos">Eventos</a></li>                
          </ul>
        </div>

        <div class="col-md-2">
          <h4>Comunidades</h4>
          <ul class="nav">
            <li><a href="#sobreMJP">Menino Jesus de Praga</a></li>
            <li><a href="#sobreRITA">Santa Rita de Cássia </a></li>
            <li><a href="#sobreSJO">São José Operário</a></li>   
            <li><a href="#sobreMATRIZ">Matriz</a></li>               
          </ul>
        </div>

        <div class="col-md-2">
          <h4>Links Uteis</h4>
          <ul class="nav">
            <li><a href="#">Elo da fé</a></li>
            <li><a href="#">Biblia Online</a></li>
            <li><a href="#">Ano Liturgico</a></li>                  
          </ul>
        </div>

        <div class="col-md-4">
           <ul class="nav">
              <li class="item-rede-social"><a href="#"><img src="/../../imagens/facebook.png"></a></li>
              <li class="item-rede-social"><a href="#"><img src="../../imagens/twitter.png"></a></li>
              <li class="item-rede-social"><a href="#"><img src="/../imagens/instagram.png"></a></li>                  
           </ul>
        </div>
          
      </div>  <!-- /row -->
    
  </div>
</footer>