<div class="container conteudo ">
    <form class="form-horizontal login">
      <div class="form-group">
        <label for="emailLogin" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="emailLogin" placeholder="Email de Login">
        </div>
      </div>  
      <div class="form-group">
        <label for="senhaLogin" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="senhaLogin" placeholder="Senha">
        </div>
      </div>       


      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Login</button>                    
        </div>
      </div>
    </form>

</div>