<section id="sobreRITA">
    <div class="container conteudo">
      <div class="row">
            <div class="col-md-12 comunidade">
                <h1>{{nomeComunidade}}</h1>
            </div>
      </div>

      <div class="row">
            <div class="col-sm-12">
              <p>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut suscipit ullamcorper leo. Nunc in odio quis sapien malesuada molestie commodo ac arcu. Donec lorem diam, maximus nec placerat et, tempus sodales diam. Vestibulum tincidunt justo venenatis enim blandit, nec placerat neque mollis. Etiam egestas, urna at luctus consectetur, ante libero pharetra tortor, sed imperdiet diam ante nec odio. Duis mattis luctus justo, sit amet rutrum lorem cursus ut. Fusce molestie augue enim, ut aliquet arcu sollicitudin sit amet. Praesent risus leo, feugiat eleifend felis sit amet, blandit elementum tellus. Sed est dui, sagittis ac commodo in, cursus sit amet orci. Quisque pulvinar ex sit amet sapien ultricies, eget varius ante venenatis. Quisque orci eros, maximus pellentesque imperdiet in, congue vel lorem. Quisque efficitur lorem metus. Mauris tincidunt volutpat congue. Sed pretium ullamcorper quam, ac viverra neque hendrerit sed. Sed non lacus erat.</p>

              <p> Aenean ac malesuada justo. Suspendisse lobortis augue non metus semper molestie. Aliquam accumsan, libero eget tempor luctus, nisi arcu tincidunt purus, ut ultrices orci leo mattis ex. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam varius odio in mauris bibendum, vitae tincidunt augue accumsan. Cras magna nulla, condimentum et lectus a, finibus molestie diam. Quisque vel pulvinar massa. Quisque pulvinar est in aliquet egestas. Donec blandit dictum tellus vel viverra. Nam pharetra tincidunt ligula vel pulvinar. Curabitur semper ut dui vitae commodo. Ut finibus dapibus sapien in varius. Sed consequat nulla mauris, ut egestas mi maximus in. In efficitur dictum purus, ornare imperdiet quam pulvinar in. Proin hendrerit tellus eget magna pretium, at tincidunt velit cursus. Vestibulum bibendum metus urna, posuere posuere eros scelerisque et.</p>
               
               <p>Praesent consectetur tristique ex, luctus pretium neque luctus eu. Phasellus porta ex sed nisi feugiat lacinia. Nulla facilisi. Phasellus ornare diam imperdiet ligula vehicula, nec luctus dolor pharetra. Praesent a consectetur tortor, vel egestas purus. Vivamus bibendum arcu sit amet ultrices eleifend. Nulla vel placerat felis. Suspendisse potenti. Vivamus eros ipsum, finibus vitae accumsan ut, euismod id magna. Morbi id cursus sapien, non accumsan quam. Nulla facilisi. Quisque eu turpis non urna elementum pulvinar a eu metus.</p>
            </div>
      </div>
      
      <div class="row">
          <div class="col-md-7">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3174.820365100465!2d-48.271272116655425!3d-18.864044687577508!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94a446676aefc999%3A0xaa322b9c185bb52d!2sIgreja+Santa+Rita+de+Cassia!5e0!3m2!1spt-BR!2sbr!4v1528241523995" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
              <p>R. Francisco Vinagre, 2008 - Minas Gerais, Uberlândia - MG, 38402-198</p>
          </div>
          <div class="col-md-5">
            <h2>Horario de Missa</h2>
            <p>Quinta-feira: 19h30</p>
            <p>Sábado: 19h30  </p>
            <h2>Horario de Crisma</h2>
            <p>Aos sabados: 17h30</p>                
          </div>
      </div>
    </div>
</section>