<section id="pageCadastro">
    
  <div class="container conteudo ">
      <h1>Cadastros</h1>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#cadastrarPessoa" aria-controls="cadastrarEventos" role="tab" data-toggle="tab">Pessoas</a></li>
        <li role="presentation"><a href="#cadastrarEventos" aria-controls="cadastrarEventos" role="tab" data-toggle="tab">Eventos</a></li>
        <li role="presentation"><a href="#buscar" aria-controls="buscar" role="tab" data-toggle="tab">Buscar</a></li>
        
      </ul>

      <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active" id="cadastrarPessoa">
              <div class=" cadastro">
                {{form.value | json}}
                  <form class="form-horizontal" novalidate #form="ngForm">
                  
                    <mt-inputs-container forIdentificacao="nomePessoa" mensagemErro="Campo Obrigatório" label="Nome Completo">
                      <input autocomplete="off" type="text" class="form-control" name="nomePessoa"  id="nome" placeholder="Nome da Pessoa" required ngModel>
 
                    </mt-inputs-container>

                    <mt-inputs-container mensagemErro="Nome da Mãe é Obrigatório" label="Nome da Mãe">
                        <input type="text" class="form-control" name="nomeMae" id="nomeMae" placeholder="Nome da Mãe" required ngModel>
                    </mt-inputs-container>

                    <mt-inputs-container mensagemErro="Nome do Pai é Obrigatório" label="Nome do Pai">
                        <input type="text" class="form-control" name="nomePai" id="nomePai" placeholder="Nome do Pai" required ngModel>
                    </mt-inputs-container>
    
                    <mt-inputs-container mensagemErro="Endereço é Obrigatório" label="Endereço">
                        <input type="text" class="form-control" name="endereco" id="endereco" placeholder="Endereço" required ngModel>
                    </mt-inputs-container>
                    

                    <mt-inputs-container mensagemErro="Nro da casa é Obrigatório" label="Numero">
                        <input type="number" class="form-control" name="nroCasa" id="nroCasa" required ngModel>
                    </mt-inputs-container>
        

                    <mt-inputs-container mensagemErro="Bairro é Obrigatório" label="Bairro">
                        <input type="text" class="form-control" name="bairro" id="bairro" required ngModel>
                    </mt-inputs-container>
        
               
                    

                    <mt-inputs-container mensagemErro="Data de Nascimento é Obrigatório" label="Nascimento">
                        <input type="date" class="form-control" name="dataNascimento" id="dataNascimento" required ngModel>
                    </mt-inputs-container>
              
            
                    <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="batizado" value="batizado" ngModel> Batizado
                          </label>
                          <label>
                              <input type="checkbox" name="eucaristica" value="eucaristia" ngModel> Eucaristia
                            </label>
                        </div>
                      </div>
                    </div>

                    <h5>Qual Comunidade?</h5>
                    <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                        <div class="radio">
                          <label>
                            <input type="radio" value="mjp" name="comunidade" ngModel required> Menino Jesus
                          </label>
                          <label>
                              <input type="radio" value="sntrita" name="comunidade" ngModel required> Santa Rita
                            </label>
                          <label>
                              <input type="radio" value="sjo" name="comunidade" ngModel required> São José
                          </label>
                          <label>
                              <input type="radio" value="matriz" name="comunidade" ngModel required> Matriz
                          </label>

                    
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default" [disabled]="!form.valid">Salvar</button>
                        <button type="clear" class="btn btn-default">Limpar</button>
                      </div>
                    </div>
                  </form>
        
                  
                </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="cadastrarEventos">
              <form class="form-horizontal eventos">
                  <div class="form-group">
                    <label for="nomeEvento" class="col-sm-2 control-label">Nome do Evento</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="nomeEvento" placeholder="Nome do Evento">
                    </div>
                  </div>
      
                 
                  <div class="form-group">
                      <label for="dataEvento" class="col-sm-2 control-label">Data do Evento</label>
                      <div class="col-sm-3">
                        <input type="date" class="form-control" id="dataEvento">
                      </div>
                  </div>  

                  <div class="form-group">
                    <label for="localEvento" class="col-sm-2 control-label">Local do Evento</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="localEvento" placeholder="Local do Evento">
                    </div>
                  </div>        
                

                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-default">Salvar</button>
                      <button type="clear" class="btn btn-default">Limpar</button>
                    </div>
                  </div>
                </form>
          </div>     
          
          <div role="tabpanel" class="tab-pane fade" id="buscar">
              <div class="row">  
                <div  class="col-lg-6 buscar">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Procurar por...">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Buscar</button>
                      </span>
                    </div><!-- /input-group -->
                  </div><!-- /.col--6 -->
                </div><!-- /.row -->
               <div class="panel panel-default">
                 <!-- Default panel contents -->
                 <div class="panel-heading">Panel heading</div>

                  <!-- Table -->
                  <table class="table">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Nome</th>
                          <th>Comunidade</th>
                          <th>Email</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>John</td>
                          <td>Doe</td>
                          <td>john@example.com</td>
                        </tr>
                        <tr>
                          <td>2</td>
                          <td>Mary</td>
                          <td>Moe</td>
                          <td>mary@example.com</td>
                        </tr>
                        <tr>
                          <td>3</td>
                          <td>July</td>
                          <td>Dooley</td>
                          <td>july@example.com</td>
                        </tr>
                      </tbody>
                    </table>
              </div>
          </div> 
      </div>

  </div>

</section>