<section id="pageCadastro">
    
  <div class="container conteudo ">
      <h1>Cadastros</h1>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#cadastrarPessoa" aria-controls="cadastrarEventos" role="tab" data-toggle="tab">Pessoas</a></li>
        <li role="presentation"><a href="#cadastrarEventos" aria-controls="cadastrarEventos" role="tab" data-toggle="tab">Eventos</a></li>
        <li role="presentation"><a href="#buscar" aria-controls="buscar" role="tab" data-toggle="tab">Buscar</a></li>
        
      </ul>

      <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active" id="cadastrarPessoa">
              <div class=" ">
                {{form.value | json}}
                  <form class="form-horizontal" novalidate #form="ngForm">
                    <div class="form-group" [class.has-success]="iptnomePessoa.valid && (iptnomePessoa.dirty || iptnomePessoa.touched)"
                    [class.has-error]="!iptnomePessoa.valid && (iptnomePessoa.dirty || iptnomePessoa.touched)">
                      <label for="nome" class="col-sm-2 control-label">Nome Completo</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" name="nomePessoa"  id="nome" placeholder="Nome da Pessoa" #iptnomePessoa="ngModel" required ngModel>
                        <span class="help-block" *ngIf="iptnomePessoa.valid && (iptnomePessoa.dirty || iptnomePessoa.touched)"><i class="fa fa-check"></i>Ok</span>
                        <span class="help-block" *ngIf="!iptnomePessoa.valid && (iptnomePessoa.dirty || iptnomePessoa.touched)"><i class="fa fa-remove"></i>Campo Obrigatorio</span>
                      </div>
                    </div>
        
                    <div class="form-group">
                        <label for="nomeMae" class="col-sm-2 control-label">Nome da Mãe</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" name="nomeMae" id="nomeMae" placeholder="Nome da Mãe" required ngModel>
                        </div>
                    </div>
        
                    <div class="form-group">
                        <label for="nomePai" class="col-sm-2 control-label">Nome do Pai</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" name="nomePai" id="nomePai" placeholder="Nome do Pai" required ngModel>
                        </div>
                    </div>
        
                    <div class="form-group">
                        <label for="endereco" class="col-sm-2 control-label">Endereço</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" name="endereco" id="endereco" placeholder="Endereço" required ngModel>
                        </div>
                    </div>
        
                    <div class="form-group">
                        <label for="nroCasa" class="col-sm-2 control-label">Numero da Casa</label>
                        <div class="col-sm-2">
                          <input type="number" class="form-control" name="nroCasa" id="nroCasa" required ngModel>
                        </div>
                    </div>
        
                    <div class="form-group">
                        <label for="bairro" class="col-sm-2 control-label">Bairro</label>
                        <div class="col-sm-3">
                          <input type="text" class="form-control" name="bairro" id="bairro" required ngModel>
                        </div>
                    </div>
        
                    <div class="form-group">
                        <label for="dataNascimento" class="col-sm-2 control-label">Data dataNascimento</label>
                        <div class="col-sm-3">
                          <input type="date" class="form-control" name="dataNascimento" id="dataNascimento" required ngModel>
                        </div>
                    </div>
            
                    <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="batizado" value="batizado" ngModel> Batizado
                          </label>
                          <label>
                              <input type="checkbox" name="eucaristica" value="eucaristia" ngModel> Eucaristia
                            </label>
                        </div>
                      </div>
                    </div>

                    <h5>Qual Comunidade?</h5>
                    <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                        <div class="radio">
                          <label>
                            <input type="radio" value="mjp" name="comunidade" ngModel required> Menino Jesus
                          </label>
                          <label>
                              <input type="radio" value="sntrita" name="comunidade" ngModel required> Santa Rita
                            </label>
                          <label>
                              <input type="radio" value="sjo" name="comunidade" ngModel required> São José
                          </label>
                          <label>
                              <input type="radio" value="matriz" name="comunidade" ngModel required> Matriz
                          </label>

                    
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default" [disabled]="!form.valid">Salvar</button>
                        <button type="clear" class="btn btn-default">Limpar</button>
                      </div>
                    </div>
                  </form>
        
                  
                </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="cadastrarEventos">
              <form class="form-horizontal">
                  <div class="form-group">
                    <label for="nomeEvento" class="col-sm-2 control-label">Nome do Evento</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="nomeEvento" placeholder="Nome do Evento">
                    </div>
                  </div>
      
                 
                  <div class="form-group">
                      <label for="dataEvento" class="col-sm-2 control-label">Data do Evento</label>
                      <div class="col-sm-3">
                        <input type="date" class="form-control" id="dataEvento">
                      </div>
                  </div>  

                  <div class="form-group">
                    <label for="localEvento" class="col-sm-2 control-label">Local do Evento</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="localEvento" placeholder="Local do Evento">
                    </div>
                  </div>        
                

                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-default">Salvar</button>
                      <button type="clear" class="btn btn-default">Limpar</button>
                    </div>
                  </div>
                </form>
          </div>     
          
          <div role="tabpanel" class="tab-pane fade" id="buscar">
            <form class="form-horizontal">
                <div class="form-group">
                  <label for="nomeEvento" class="col-sm-2 control-label">Nome</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="nomeEvento" placeholder="Nome">
                  </div>
                </div>        
              

                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Buscar</button>                    
                  </div>
                </div>
            </form>
          </div> 
      </div>

  </div>

</section>