<mt-menu></mt-menu> 

<div class="wrapper">


  <router-outlet></router-outlet>
  <!-- Full Width Column 
  <section id="inicioPage">
    <div class="container conteudo">
      <p>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut suscipit ullamcorper leo. Nunc in odio quis sapien malesuada molestie commodo ac arcu. Donec lorem diam, maximus nec placerat et, tempus sodales diam. Vestibulum tincidunt justo venenatis enim blandit, nec placerat neque mollis. Etiam egestas, urna at luctus consectetur, ante libero pharetra tortor, sed imperdiet diam ante nec odio. Duis mattis luctus justo, sit amet rutrum lorem cursus ut. Fusce molestie augue enim, ut aliquet arcu sollicitudin sit amet. Praesent risus leo, feugiat eleifend felis sit amet, blandit elementum tellus. Sed est dui, sagittis ac commodo in, cursus sit amet orci. Quisque pulvinar ex sit amet sapien ultricies, eget varius ante venenatis. Quisque orci eros, maximus pellentesque imperdiet in, congue vel lorem. Quisque efficitur lorem metus. Mauris tincidunt volutpat congue. Sed pretium ullamcorper quam, ac viverra neque hendrerit sed. Sed non lacus erat.</p>

     <p> Aenean ac malesuada justo. Suspendisse lobortis augue non metus semper molestie. Aliquam accumsan, libero eget tempor luctus, nisi arcu tincidunt purus, ut ultrices orci leo mattis ex. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam varius odio in mauris bibendum, vitae tincidunt augue accumsan. Cras magna nulla, condimentum et lectus a, finibus molestie diam. Quisque vel pulvinar massa. Quisque pulvinar est in aliquet egestas. Donec blandit dictum tellus vel viverra. Nam pharetra tincidunt ligula vel pulvinar. Curabitur semper ut dui vitae commodo. Ut finibus dapibus sapien in varius. Sed consequat nulla mauris, ut egestas mi maximus in. In efficitur dictum purus, ornare imperdiet quam pulvinar in. Proin hendrerit tellus eget magna pretium, at tincidunt velit cursus. Vestibulum bibendum metus urna, posuere posuere eros scelerisque et.</p>
      
      <p>Praesent consectetur tristique ex, luctus pretium neque luctus eu. Phasellus porta ex sed nisi feugiat lacinia. Nulla facilisi. Phasellus ornare diam imperdiet ligula vehicula, nec luctus dolor pharetra. Praesent a consectetur tortor, vel egestas purus. Vivamus bibendum arcu sit amet ultrices eleifend. Nulla vel placerat felis. Suspendisse potenti. Vivamus eros ipsum, finibus vitae accumsan ut, euismod id magna. Morbi id cursus sapien, non accumsan quam. Nulla facilisi. Quisque eu turpis non urna elementum pulvinar a eu metus.</p>
      
      <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam dapibus ornare metus in rutrum. Vivamus aliquam nibh nisl, sed facilisis eros iaculis vel. Pellentesque at metus quam. Proin sit amet leo aliquam metus aliquet malesuada. Ut rutrum neque bibendum aliquam sodales. Integer magna sapien, pellentesque ac scelerisque quis, tristique non ligula. Morbi facilisis velit eu fringilla iaculis. Quisque vitae arcu urna. Donec ut turpis tellus. Nulla molestie leo a accumsan laoreet. Morbi id neque ac nunc imperdiet posuere. Donec ac arcu eu lorem sagittis ullamcorper sed eget orci. Fusce scelerisque faucibus fermentum. Fusce tincidunt pellentesque magna, vitae porta ligula eleifend non.</p>
      
      <p>Suspendisse tempor velit mollis, gravida velit in, semper nisi. Suspendisse malesuada risus id magna ultricies consequat. Donec non nibh lobortis, finibus risus vel, pellentesque purus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam tincidunt neque at nisi venenatis malesuada. Quisque at urna vel leo dictum interdum. Aenean sed neque tempus, scelerisque libero et, sodales lectus. Proin eros neque, posuere luctus enim sit amet, eleifend condimentum arcu. Pellentesque nec rutrum odio, iaculis imperdiet massa. Nulla ac purus turpis. Aenean non justo justo. Vivamus porta ex diam, vitae vehicula mi blandit ac. Donec facilisis quis eros sit amet vestibulum. Nulla porttitor facilisis quam eget suscipit.</p>
    </div>
  </section>

 <!-- <mt-paroquia></mt-paroquia>

  <mt-mjp></mt-mjp>

  <mt-sntrita></mt-sntrita>

  <mt-sjo></mt-sjo>

  <mt-matriz> </mt-matriz>

  <mt-eventos></mt-eventos>

  <mt-cadastrar></mt-cadastrar>


 <!-- <div class="content-wrapper">
    <div class="container">

      {{content}}

    </div>
  </div>

  <!-- snakbar deve ser aqui -->



<mt-footer> </mt-footer>
</div>

<script>


    (function () {
      var menu = document.getElementById('menu'); // colocar em cache
      window.addEventListener('scroll', function () {
          if (window.scrollY > 0) menu.classList.add('menuFixo'); // > 0 ou outro valor desejado
          else menu.classList.remove('menuFixo');
      });
  })();
  
  </script>
